@import url('https://cdn.fontcdn.ir/Font/Persian/Sahel/Sahel.css');

body {
    font-family: Sahel !important;
}

.myfont {
    font-family: Sahel !important;
}
.btn-primary {
    color: #fff;
    background-color: #4a8bb3;
    border-color: #4a8bb3;

}
.btn-primary:hover {
    color: #fff;
    background-color: #376d8e;
    border-color: #376d8e;
}